# Estruturas de Dados em Pandas

### pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D (representam um cubo B.I.)

numpy.ndarray()     - x Dimensões

# Series
#### Usando o numpy.ndarray

In [40]:
import pandas as pd
import numpy as np

np.random.seed(100) #sempre que repetir essa linha, utilizará sempre os mesmos valores na função random
arrayordenado1 = np.random.rand(10)
arrayordenado1.sort()

Serie1 = pd.Series(arrayordenado1);
print(' array original:', '\n', arrayordenado1, '\n')
print('Série em Pandas criada a partir do array:')
print(Serie1)
print('Type do objeto Pandas criado:', type(Serie1))

 array original:
 [ 0.00471886  0.12156912  0.13670659  0.27836939  0.42451759  0.54340494
  0.57509333  0.67074908  0.82585276  0.84477613]

Série em Pandas criada a partir do array:
0    0.004719
1    0.121569
2    0.136707
3    0.278369
4    0.424518
5    0.543405
6    0.575093
7    0.670749
8    0.825853
9    0.844776
dtype: float64
Type do objeto Pandas criado: <class 'pandas.core.series.Series'>

In [55]:
import calendar as cal

meses = [cal.month_name[i] for i in np.arange(1,13)]
meses_Series1 = pd.Series(np.arange(1,13), index = meses)

print(' Array de uma lista de meses', '\n', meses, '\n')
print('Lista de meses em uma Serie Pandas, com os índices sendo a lista de meses')
print(meses_Series1, '\n')
print('Índices do objeto meses_Series1 (Pandas.Series):', '\n')
print(meses_Series1.index)

 Array de uma lista de meses
 ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

Lista de meses em uma Serie Pandas, com os índices sendo a lista de meses
January       1
February      2
March         3
April         4
May           5
June          6
July          7
August        8
September     9
October      10
November     11
December     12
dtype: int32

Índices do objeto meses_Series1 (Pandas.Series):

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

### Dicionários
### dict {chave : valor}

In [60]:
dict1 = {'US' : 'dollar', 'UK' : 'pound', 'Germany': 'euro', 'Brazil':'real', 'China':'yuan', 'Japan':'yen'}
moeda_Series1 = pd.Series(dict1)
print(moeda_Series1)

Brazil       real
China        yuan
Germany      euro
Japan         yen
UK          pound
US         dollar
dtype: object

In [96]:
dict2 = {'BRKM5':46.21, 'ITUB4':42.32, 'ITSA4':10.75, 'SAPR11':59.64, 'CMIG3':7.08}

lista_chaves = dict2.keys()
lista_k = list(lista_chaves)
lista_k.append('PETR4')

print(' Dict original:', '\n', dict2, '\n')
print(' Chaves da Dict:', '\n', lista_chaves, '\n')
print(' Chaves da Dict + o valor "appendado" (PETR4):', '\n', lista_k)

stockPriceSeries = pd.Series(dict2, index=lista_k, name='sotckPrices')
stockPriceSeries

 Dict original:
 {'BRKM5': 46.21, 'ITUB4': 42.32, 'ITSA4': 10.75, 'SAPR11': 59.64, 'CMIG3': 7.08}

 Chaves da Dict:
 dict_keys(['BRKM5', 'ITUB4', 'ITSA4', 'SAPR11', 'CMIG3'])

 Chaves da Dict + o valor "appendado" (PETR4):
 ['BRKM5', 'ITUB4', 'ITSA4', 'SAPR11', 'CMIG3', 'PETR4']

BRKM5     46.21
ITUB4     42.32
ITSA4     10.75
SAPR11    59.64
CMIG3      7.08
PETR4       NaN
Name: sotckPrices, dtype: float64

### Usando valores escalares

In [99]:
animalSerie = pd.Series('Homem', index=['peitoral', 'cabeça', 'ombros', 'costas', 'pernas'])
animalSerie

peitoral    Homem
cabeça      Homem
ombros      Homem
costas      Homem
pernas      Homem
dtype: object

### Operações com Series

In [111]:
dict3 = {'US' : 'dollar', 'UK' : 'pound', 'Germany': 'euro', 'Brazil':'real', 'China':'yuan', 'Japan':'yen'}
moeda_Series2 = pd.Series(dict3)

dict4 = {'BRKM5':46.21, 'ITUB4':42.32, 'ITSA4':10.75, 'SAPR11':59.64, 'CMIG3':7.08}
lista_chaves1 = dict4.keys()
stockPriceSeries1 = pd.Series(dict4, index=lista_chaves1, name='sotckPrices1')

print('Imprimindo todos os valores da Serie de Moedas:')
print(moeda_Series2, '\n')
print('Imprimindo apenas o valor de um índice em específico da Serie:')
print(moeda_Series2['China'], '\n')

print('Imprimindo todos os valores da Serie de Cotações:')
print(stockPriceSeries1, '\n')
print('Atribuindo um valor na Serie de Cotações...')
stockPriceSeries1['ITSA4'] = 11.50
print('Imprimindo todos os valores da Serie de Cotação a atribuição anterior:')
print(stockPriceSeries1, '\n')

Imprimindo todos os valores da Serie de Moedas:
Brazil       real
China        yuan
Germany      euro
Japan         yen
UK          pound
US         dollar
dtype: object

Imprimindo apenas o valor de um índice em específico da Serie:
yuan

Imprimindo todos os valores da Serie de Cotações:
BRKM5     46.21
ITUB4     42.32
ITSA4     10.75
SAPR11    59.64
CMIG3      7.08
Name: sotckPrices1, dtype: float64

Atribuindo um valor na Serie de Cotações...
Imprimindo todos os valores da Serie de Cotação a atribuição anterior:
BRKM5     46.21
ITUB4     42.32
ITSA4     11.50
SAPR11    59.64
CMIG3      7.08
Name: sotckPrices1, dtype: float64

In [112]:
#Buscando o valore de uma chave específica: stockPriceSeries1['XPTO'] é diferente de stockPriceSeries1.get['XPTO']
stockPriceSeries1['XPTO']

KeyError: 'XPTO'

In [118]:
#stockPriceSeries1.get['XPTO'] = função busca pelo valor respectico ao indice 'XPTO': caso não encontre-o na Serie,
#traz um valor NaN. Parâmetros do comando: Series.get(key, value)

stockPriceSeries1.get('XPTO', np.NaN)

nan

### Slicing

In [134]:
dict5 = {'BRKM5':46.21, 'ITUB4':42.32, 'ITSA4':10.75, 'SAPR11':59.64, 'CMIG3':7.08}
lista_chaves2 = dict5.keys()
stockPriceSeries2 = pd.Series(dict5, index=lista_chaves2, name='sotckPrices2')

print('Imprimindo todos os valores da Serie stockPriceSeries2:')
print(stockPriceSeries2, '\n')

#mesmo o índice não sendo um número, internamente o Pandas ordena os registros com números inteiros.
print('Imprimindo todos os valores da Serie stockPriceSeries2 com base no slicing (fatiamento stockPriceSeries2[:4]):')
stockPriceSeries2[:4]

print('Imprimindo todos os valores da Serie stockPriceSeries2 que sejam >35:')
print(stockPriceSeries2[stockPriceSeries2 > 35])

Imprimindo todos os valores da Serie stockPriceSeries1:
BRKM5     46.21
ITUB4     42.32
ITSA4     10.75
SAPR11    59.64
CMIG3      7.08
Name: sotckPrices2, dtype: float64

Imprimindo todos os valores da Serie stockPriceSeries2 com base no slicing (fatiamento stockPriceSeries2[:4]):
Imprimindo todos os valores da Serie stockPriceSeries1 que sejam >35:
BRKM5     46.21
ITUB4     42.32
SAPR11    59.64
Name: sotckPrices2, dtype: float64

### Outras Operações

In [141]:
print('Imprimindo todos os valores da Serie stockPriceSeries2:')
print(stockPriceSeries2, '\n')

#Calculando a média entre todos os valores da Serie
print('Cálculo da média entre todos os valores da Serie de Cotações', '\n', np.mean(stockPriceSeries2), '\n')

#calculando o desvio padrão entre todos os valores da Serie
print('Cálculo do desvio padrão entre todos os valores da Serie', '\n', np.std(stockPriceSeries2))

Imprimindo todos os valores da Serie stockPriceSeries2:
BRKM5     46.21
ITUB4     42.32
ITSA4     10.75
SAPR11    59.64
CMIG3      7.08
Name: sotckPrices2, dtype: float64

Cálculo da média entre todos os valores da Serie de Cotações
 33.2

Cálculo do desvio padrão entre todos os valores da Serie
 20.677354763121905

# DataFrames

pandas.Series()          - 1 Dimensão  - 1D

### pandas.DataFrame()  - 2 Dimensões - 2D

pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

In [212]:
import pandas as pd
import numpy as np

stock = {'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88],
                           index = ['Closing price','EPS','Shares Outstanding(M)','Beta', 'P/E','Market Cap(B)']),
         'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
                           index = ['Closing price','EPS','Shares Outstanding(M)','Beta','P/E','Market Cap(B)']),
         'FB': pd.Series([61.48,0.59,2450,104.93,150.92],
                           index = ['Closing price','EPS','Shares Outstanding(M)','P/E', 'Market Cap(B)']),
         'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
                           index=['Closing price','EPS','Shares Outstanding(M)','P/E','Beta', 'Market Cap(B)']),
         'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
                           index=['Closing price','EPS','Shares Outstanding(M)','Market Cap(B)']),
         'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
                           index=['Closing price','EPS','Shares Outstanding(M)','P/E','Market Cap(B)','Beta'])}

print('Dicionário dentro de um DataFrame Pandas:')
stock_df = pd.DataFrame(data=stock)
print(stock_df, '\n')
print(type(stock_df), '\n')

#definindo quais são os índices, quais são colunas e quais são valores
index = ['Closing price', 'P/E']
columns = list(stock.keys())
print('Definindo quais são os índices, quais são colunas(chave) e quais são valores: ')
stock_df1 = pd.DataFrame(data=stock, index = index, columns = columns)
print(stock_df1, '\n')

Dicionário dentro de um DataFrame Pandas:
                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00

<class 'pandas.core.frame.DataFrame'>

Definindo quais são os índices, quais são colunas(chave) e quais são valores:
                 AMZN     GOOG      FB   YHOO   TWTR    AAPL
Closing price  346.15  1133.43   61.48  34.90  65.25  501.53
P/E            589.80    31.44  104.93  27.48    NaN   12.44

In [219]:
print('Visualizando indices do DataFrame criado: ')
print(stock_df1.index, '\n')
print('Visualizando colunas do DataFrame criado: ')
print(stock_df1.columns, '\n')

Visualizando indices do DataFrame criado:
Index(['Closing price', 'P/E'], dtype='object')

Visualizando colunas do DataFrame criado:
Index(['AMZN', 'GOOG', 'FB', 'YHOO', 'TWTR', 'AAPL'], dtype='object')

### Operações com DataFrames

In [220]:
import pandas as pd
import numpy as np

#dicionários aninhados
Quadro_Medalhas_Rio_2016 = {
    'USA' : {'Ouro':46, 'Prata':37, 'Bronze':38},
    'China':{'Ouro':26, 'Prata':18, 'Bronze':26},
    'Britain':{'Ouro':27, 'Prata':23, 'Bronze':17},
    'Russe':{'Ouro':19, 'Prata':18, 'Bronze':19},
    'Germany':{'Ouro':17, 'Prata':10, 'Bronze':15}}

rio_2016 = pd.DataFrame.from_dict(Quadro_Medalhas_Rio_2016)
print('Quadro de medalhas Olimpíadas 2016 RJ:', '\n')
print(rio_2016, '\n', 'type: ', type(rio_2016), '\n')

print('Medalhas da China:')
Medalhas_China = rio_2016['China'] #ou poderia ser chamado como rio_2016['China'] diretamente.
print(Medalhas_China, '\n')

print('Medalhas da Rússia:')
print(rio_2016.Russe, '\n')

print('Medalhas da Alemanha e USA:')
print(rio_2016[['Germany', 'USA']],'\n') #DataFrame[indice[lista das colunas para exibir]]

print('Medalhas da Alemanha:')
print(rio_2016.get('Germany'), '\n')

Quadro de medalhas Olimpíadas 2016 RJ:

        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46
Prata        23     18       10     18   37
 type:  <class 'pandas.core.frame.DataFrame'>

Medalhas da China:
Bronze    26
Ouro      26
Prata     18
Name: China, dtype: int64

Medalhas da Rússia:
Bronze    19
Ouro      19
Prata     18
Name: Russe, dtype: int64

Medalhas da Alemanha e USA:
        Germany  USA
Bronze       15   38
Ouro         17   46
Prata        10   37

Medalhas da Alemanha:
Bronze    15
Ouro      17
Prata     10
Name: Germany, dtype: int64

### Slicing

In [221]:
#retornando "fatias" do DataFrame

print('Quadro de medalhas Olimpíadas 2016 RJ:', '\n')
print(rio_2016, '\n', 'type: ', '\n')

print('retorna tudo à partir do indice = 2 (PRATA)')
print(rio_2016[2:], '\n')

print('todas as linhas e colunas onde os valores são a passo 2 (step, pulam)')
print(rio_2016[::2], '\n')

print('todas as linhas e colunas onde os valores são a passo -3 (step, pulam)')
print(rio_2016[::-3], '\n')

Quadro de medalhas Olimpíadas 2016 RJ:

        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46
Prata        23     18       10     18   37
 type:

retorna tudo à partir do indice = 2 (PRATA)
       Britain  China  Germany  Russe  USA
Prata       23     18       10     18   37

todas as linhas e colunas onde os valores são a passo 2 (step, pulam)
        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Prata        23     18       10     18   37

todas as linhas e colunas onde os valores são a passo -3 (step, pulam)
       Britain  China  Germany  Russe  USA
Prata       23     18       10     18   37

### Slicing por Indexação
#### DataFram.loc -> retorna o conjunto de dados baseado no valor específico DO ÁLIAS DO ÍNDICE (labels)

In [222]:
print('Quadro de medalhas Olimpíadas 2016 RJ:', '\n')
print(rio_2016, '\n', 'type: ', '\n')

print('Fatiamento por índice [Ouro]')
print(rio_2016.loc['Ouro'], '\n')

print('Fatiamento por índice, considerando apenas [USA]')
print(rio_2016.loc[:,'USA'], '\n')

print('Fatiamento por índice [Prata], considerando apenas [China]')
print(rio_2016.loc['Prata','China'], '\n') # ou DataFrame.loc['linha'],['coluna']

print('Fatiamento por índice [Ouro], considerando verificar se teve mais de 20 medalhas','\n')
print(rio_2016.loc['Ouro'] > 20, '\n')

print('Quais registros tem medalha de [Ouro] acima de 20')
print(rio_2016.loc[:, rio_2016.loc['Ouro'] > 20], '\n')

Quadro de medalhas Olimpíadas 2016 RJ:

        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46
Prata        23     18       10     18   37
 type:

Fatiamento por índice [Ouro]
Britain    27
China      26
Germany    17
Russe      19
USA        46
Name: Ouro, dtype: int64

Fatiamento por índice, considerando apenas [USA]
Bronze    38
Ouro      46
Prata     37
Name: USA, dtype: int64

Fatiamento por índice [Prata], considerando apenas [China]
18

Fatiamento por índice [Ouro], considerando verificar se teve mais de 20 medalhas

Britain     True
China       True
Germany    False
Russe      False
USA         True
Name: Ouro, dtype: bool

Quais registros tem medalha de [Ouro] acima de 20
        Britain  China  USA
Bronze       17     26   38
Ouro         27     26   46
Prata        23     18   37

#### DataFram.iloc -> retorna o conjunto de dados baseado no valor específico DA POSIÇÃO DO ÍNDICE (inteiro). Lembrando que a primeira do índice inicia em zero.

In [230]:
#iloc[indice:valor]
print('Quadro de medalhas Olimpíadas 2016 RJ:')
print(rio_2016, '\n', 'type: ', '\n')
print('Fatiamento por posição do índice [1:] -> todas as medalhas de :')
print(rio_2016.iloc[1:], '\n')
print('Fatiamento por posição do índice [2,0:] -> todas as medalha de Prata de todos os países, transformando as CHAVES em ÍNDICES (labels):')
print(rio_2016.iloc[2,0:], '\n')
print('Fatiamento por posição do índice [2:] -> todas as medalha de Prata de todos os países:')
print(rio_2016.iloc[2:], '\n')
print('Fatiamento por posição do índice [:2] -> todas as medalha de Bronze e Ouro de todos os países:')
print(rio_2016.iloc[:2], '\n')

Quadro de medalhas Olimpíadas 2016 RJ:
        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46
Prata        23     18       10     18   37
 type:

Fatiamento por posição do índice [1:] -> todas as medalhas de :
       Britain  China  Germany  Russe  USA
Ouro        27     26       17     19   46
Prata       23     18       10     18   37

Fatiamento por posição do índice [2,0:] -> todas as medalha de Prata de todos os países, transformando as CHAVES em ÍNDICES (labels):
Britain    23
China      18
Germany    10
Russe      18
USA        37
Name: Prata, dtype: int64

Fatiamento por posição do índice [2:] -> todas as medalha de Prata de todos os países:
       Britain  China  Germany  Russe  USA
Prata       23     18       10     18   37

Fatiamento por posição do índice [:2] -> todas as medalha de Bronze e Ouro de todos os países:
        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46

In [231]:
print('Fatiamento por posição do índice [:2] -> todas as medalha de Bronze e Ouro de todos os países:')
rio_2016.iloc[:2]

Fatiamento por posição do índice [:2] -> todas as medalha de Bronze e Ouro de todos os países:

        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46

### Removendo membro do DataFrame

In [233]:
import pandas as pd
import numpy as np

rio_2016_2 = pd.DataFrame.from_dict(Quadro_Medalhas_Rio_2016)
print('Quadro de medalhas Olimpíadas 2016 RJ:')
print(rio_2016_2, '\n', 'type: ', '\n')

print('Removendo todos os registros de medalhas da RÚSSIA:')
del rio_2016_2['Russe']

print('Quadro de medalhas Olimpíadas 2016 RJ (após remoção do registro):')
print(rio_2016_2, '\n', 'type: ', '\n')

Quadro de medalhas Olimpíadas 2016 RJ:
        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46
Prata        23     18       10     18   37
 type:

Removendo todos os registros de medalhas da Rússia:
Quadro de medalhas Olimpíadas 2016 RJ (após remoção do registro):
        Britain  China  Germany  USA
Bronze       17     26       15   38
Ouro         27     26       17   46
Prata        23     18       10   37
 type:

### Inserindo membro do DataFrame

In [248]:
import pandas as pd
import numpy as np

rio_2016_3 = pd.DataFrame.from_dict(Quadro_Medalhas_Rio_2016)
print('Quadro de medalhas Olimpíadas 2016 RJ:')
print(rio_2016_3, '\n', 'type: ', '\n')

print('Inserindo todos os registros de medalhas do BRASIL...', '\n')
rio_2016_3.insert(loc=0, column='Brasil', value=(7,6,6))
print('Quadro de medalhas Olimpíadas 2016 RJ (após remoção do registro):')
print(rio_2016_3, '\n', 'type: ', '\n')

Quadro de medalhas Olimpíadas 2016 RJ:
        Britain  China  Germany  Russe  USA
Bronze       17     26       15     19   38
Ouro         27     26       17     19   46
Prata        23     18       10     18   37
 type:

Inserindo todos os registros de medalhas do BRASIL...

Quadro de medalhas Olimpíadas 2016 RJ (após remoção do registro):
        Brasil  Britain  China  Germany  Russe  USA
Bronze       7       17     26       15     19   38
Ouro         6       27     26       17     19   46
Prata        6       23     18       10     18   37
 type:

### Outras operações Matemáticas

In [250]:
print('Quadro de medalhas Olimpíadas 2016 RJ:')
print(rio_2016_3, '\n', 'type: ', '\n')

print('Imprimindo operações matemáticas referente ao DataFrame [rio_2016_3]:')
rio_2016_3.describe()

Quadro de medalhas Olimpíadas 2016 RJ:
        Brasil  Britain  China  Germany  Russe  USA
Bronze       7       17     26       15     19   38
Ouro         6       27     26       17     19   46
Prata        6       23     18       10     18   37
 type:

Imprimindo operações matemáticas referente ao DataFrame [rio_2016_3]:

         Brasil    Britain      China    Germany      Russe        USA
count  3.000000   3.000000   3.000000   3.000000   3.000000   3.000000
mean   6.333333  22.333333  23.333333  14.000000  18.666667  40.333333
std    0.577350   5.033223   4.618802   3.605551   0.577350   4.932883
min    6.000000  17.000000  18.000000  10.000000  18.000000  37.000000
25%    6.000000  20.000000  22.000000  12.500000  18.500000  37.500000
50%    6.000000  23.000000  26.000000  15.000000  19.000000  38.000000
75%    6.500000  25.000000  26.000000  16.000000  19.000000  42.000000
max    7.000000  27.000000  26.000000  17.000000  19.000000  46.000000

# DataFrames

pandas.Series()          - 1 Dimensão  - 1D

pandas.DataFrame()  - 2 Dimensões - 2D

### pandas.Panel()           - 3 Dimensões - 3D

numpy.ndarray()     - x Dimensões

In [265]:
import pandas as pd
import numpy as np

stockData = np.array([[[115.65, 70.3, 88.4],
                       [32.37, 7.65, 99.45],
                       [7.88, 9.22, 24.56]],
                      [[75.65, 6.41, 14.28],
                       [9.30, 2.33, 7.44],
                       [10.44, 25.55, 34.46]]])

print('Estrutura tridimensional em NUMPY do tipo', type(stockData), 'que significa que existem N arrays aninhados')
print('dentro da mesma estrutura.')
stockData

Estrutura tridimensional em NUMPY do tipo <class 'numpy.ndarray'> que significa que existem N arrays aninhados
dentro da mesma estrutura.

array([[[ 115.65,   70.3 ,   88.4 ],
        [  32.37,    7.65,   99.45],
        [   7.88,    9.22,   24.56]],

       [[  75.65,    6.41,   14.28],
        [   9.3 ,    2.33,    7.44],
        [  10.44,   25.55,   34.46]]])

### PANEL -> estrutura de dados em CUBO no Pandas que trabalha com apenas 3 dimensões.
#### Havendo a necessidade de manipular mais de 3 dimensões, procurar trabalhar com a função NDARRAY do NUMPY.

In [267]:
stockHistoricalPrices = pd.Panel(data=stockData,
                                 items=('FB', 'NTFLX'),
                                 major_axis = pd.date_range('2/3/2016', periods=3),
                                 minor_axis = ['open price', 'closing price', 'volume'])
stockHistoricalPrices

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: FB to NTFLX
Major_axis axis: 2016-02-03 00:00:00 to 2016-02-05 00:00:00
Minor_axis axis: open price to volume

### Criação de um DataFrame a partir de um dicionário

In [314]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

BrasilData = pd.DataFrame(np.array([[115.68, 311.88],
                                   [180.83, 1500.11],
                                   [220.72, 2500.47]]),
                         columns=['População(M)','PIB($B)'],
                         index=[1995,2005,2015])
print('PIB Brasil')
print(BrasilData,'\n')

print('PIB China')
print(BrasilData)

PIB Brasil
      População(M)  PIB($B)
1995        115.68   311.88
2005        180.83  1500.11
2015        220.72  2500.47

PIB China
      População(M)  PIB($B)
1995        115.68   311.88
2005        180.83  1500.11
2015        220.72  2500.47

In [315]:
print('Unindo os dois DataFrames criados em Pandas, anteriormente [BrasilData + ChinaData], gerando')
print('o DICIONÁRIO Brasil_ChinaData. A união destes dois conjuntos de dados se dá através dos valores das LABELs')
print('dos índices, que no caso são os anos [1995,2005,2015].', '\n')

Brasil_ChinaData = {'Brasil' : BrasilData,
                    'China' : ChinaData,}

print(Brasil_ChinaData, '\n')
print('Type do objeto [Brasil_ChinaData]:', type(Brasil_ChinaData))

Unindo os dois DataFrames criados em Pandas, anteriormente [BrasilData + ChinaData], gerando
o DICIONÁRIO Brasil_ChinaData. A união destes dois conjuntos de dados se dá através dos valores das LABELs
dos índices, que no caso são os anos [1995,2005,2015].

{'Brasil':       População(M)  PIB($B)
1995        115.68   311.88
2005        180.83  1500.11
2015        220.72  2500.47, 'China':       População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47}

Type do objeto [Brasil_ChinaData]: <class 'dict'>

In [317]:
print('Convertendo o DICIONÁRIO [Brasil_ChinaData], criado anteriormente, para um PANEL em Pandas...', '\n')
df_2 = pd.Panel(Brasil_ChinaData)
print(df_2, '\n')
print('Tipo de dados gerado com a conversão:', type(df_2))

Convertendo o DICIONÁRIO [Brasil_ChinaData], criado anteriormente, para um PANEL em Pandas...

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: Brasil to China
Major_axis axis: 1995 to 2015
Minor_axis axis: População(M) to PIB($B)

Tipo de dados gerado com a conversão: <class 'pandas.core.panel.Panel'>

### Convertendo DataFrame para Panel
#### MultiIndex -> função para definir diferentes níveis de índice dentro de um determinado objeto

In [319]:
#criando multiindex, onde os níveis serão os nomes dos países (1º nível) e
#as próprias label's dos índices [1995, 2005, 2015] (2º nível)

multiIndex = pd.MultiIndex(levels = [['Brasil', 'China'], [1995, 2005, 2015]],
                     labels = [[1,1,1,0,0,0], [0,1,2,0,1,2]])

#populando um DataFrame em Pandas, usando o multíndice criado anteriomente para os dois níveis: ]Nome dos Paises] e [Ano]
BrasilChina_DF = pd.DataFrame({'População(M)' : [1133.68, 1266.83, 1339.72, 115.68, 180.83, 220.72],
                               'PIB($B)' : [311.88, 2453.11, 5500.47, 390.28, 1500.48, 2500.47]},
                             index = multiIndex)
BrasilChina_DF

             PIB($B)  População(M)
China  1995   311.88       1133.68
       2005  2453.11       1266.83
       2015  5500.47       1339.72
Brasil 1995   390.28        115.68
       2005  1500.48        180.83
       2015  2500.47        220.72

In [321]:
BrasilChina_DF.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 2 (major_axis) x 3 (minor_axis)
Items axis: PIB($B) to População(M)
Major_axis axis: Brasil to China
Minor_axis axis: 1995 to 2015

### Group By e Reshape
#### Sumarizando Dados

In [353]:
import numpy as np
import pandas as pd

#usando encoding='latin-1' porque o aquivo contêm caracteres como ascentuação
cidades_digitais = pd.read_csv(filepath_or_buffer='cidades_digitais.csv', sep=';', encoding='latin-1')
print('Quantidade total de registros por coluna:')
print(cidades_digitais.count(), '\n')
print('Imprimindo as primeiras linhas do DataFrame...')
cidades_digitais.head()

Quantidade total de registros por coluna:
UF                      338
CIDADE                  338
IBGE                    338
POPULAÇÃO               338
VALOR_TOTAL_PREVISTO    338
STATUS                  338
PONTOS_ATENDIDOS        338
VALOR_INVESTIDO         338
dtype: int64

Imprimindo as primeiras linhas do DataFrame...

,UF,CIDADE,IBGE,POPULAÇÃO,VALOR_TOTAL_PREVISTO,STATUS,PONTOS_ATENDIDOS,VALOR_INVESTIDO
0,AC,Tarauacá,1200609,38819,"484.547,53",Sem Previsão,8,0
1,AL,Delmiro Gouveia,2702405,51997,"1.169.381,70",Sem Previsão,43,0
2,AL,Estrela de Alagoas,2702553,18306,"527.206,83",Sem Previsão,39,0
3,AM,Autazes,1300300,37033,"1.171.151,92",Sem Previsão,51,0
4,AM,Benjamin Constant,1300607,39484,"844.586,48",Sem Previsão,12,0

In [354]:
print('Removendo a coluna [IBGE]...')
del cidades_digitais['IBGE']

print('Imprimindo as primeiras linhas do DataFrame...')
cidades_digitais.head()

Removendo a coluna [IBGE]...
Imprimindo as primeiras linhas do DataFrame...

,UF,CIDADE,POPULAÇÃO,VALOR_TOTAL_PREVISTO,STATUS,PONTOS_ATENDIDOS,VALOR_INVESTIDO
0,AC,Tarauacá,38819,"484.547,53",Sem Previsão,8,0
1,AL,Delmiro Gouveia,51997,"1.169.381,70",Sem Previsão,43,0
2,AL,Estrela de Alagoas,18306,"527.206,83",Sem Previsão,39,0
3,AM,Autazes,37033,"1.171.151,92",Sem Previsão,51,0
4,AM,Benjamin Constant,39484,"844.586,48",Sem Previsão,12,0

In [362]:
print('Aplicando group by ao campo [UF], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar')
print('o DataFrame ORIGINAL:', '\n')
UF_Agrupado = cidades_digitais.groupby('UF')

print('type do novo objeto criado [UF_Agrupado]: ', type(UF_Agrupado))

Aplicando group by ao campo [UF], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar
o DataFrame ORIGINAL:

type do novo objeto criado [UF_Agrupado]:  <class 'pandas.core.groupby.DataFrameGroupBy'>

In [367]:
print('Verificando os grupos guardados na variável [UF_Agrupado]:', '\n')
print('A leitura é a seguinte: dentro do estado XX, tenho os elementos dos índices [X, Y, Z, ... N] ')
UF_Agrupado.groups

Verificando os grupos guardados na variável [UF_Agrupado]:

A leitura é a seguinte: dentro do estado XX, tenho os elementos dos índices [X, Y, Z, ... N]

{'AC': Int64Index([0], dtype='int64'),
 'AL': Int64Index([1, 2], dtype='int64'),
 'AM': Int64Index([3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64'),
 'AP': Int64Index([12, 13, 14, 15, 16, 17], dtype='int64'),
 'BA': Int64Index([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
             35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
            dtype='int64'),
 'CE': Int64Index([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
             68, 69, 70, 71, 72, 73, 74, 75, 76],
            dtype='int64'),
 'DF': Int64Index([77], dtype='int64'),
 'ES': Int64Index([78, 79, 80, 81], dtype='int64'),
 'GO': Int64Index([82, 83, 84, 85, 86, 87, 88, 89, 90, 91], dtype='int64'),
 'MA': Int64Index([ 92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
             105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117],
            dtype='int64'),
 'MG': Int64Index([118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
             131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
             144, 145],
            dtype='int64'),
 'MS': Int64Index([146, 147, 148], dtype='int64'),
 'MT': Int64Index([149, 150, 151, 152], dtype='int64'),
 'PA': Int64Index([153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165,
             166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176],
            dtype='int64'),
 'PB': Int64Index([177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189,
             190, 191, 192, 193, 194],
            dtype='int64'),
 'PE': Int64Index([195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
             208, 209, 210],
            dtype='int64'),
 'PI': Int64Index([211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
             224, 225, 226, 227, 228],
            dtype='int64'),
 'PR': Int64Index([229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241,
             242, 243, 244, 245],
            dtype='int64'),
 'RJ': Int64Index([246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258,
             259, 260],
            dtype='int64'),
 'RN': Int64Index([261, 262, 263, 264, 265, 266, 267, 268, 269], dtype='int64'),
 'RO': Int64Index([270, 271], dtype='int64'),
 'RR': Int64Index([272], dtype='int64'),
 'RS': Int64Index([273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
             286, 287, 288],
            dtype='int64'),
 'SC': Int64Index([289, 290, 291, 292, 293, 294], dtype='int64'),
 'SE': Int64Index([295, 296, 297, 298], dtype='int64'),
 'SP': Int64Index([299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
             312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
             325, 326, 327, 328, 329, 330, 331, 332, 333],
            dtype='int64'),
 'TO': Int64Index([334, 335, 336, 337], dtype='int64')}

In [370]:
print('Verificando a quantidade de grupos guardados na variável [UF_Agrupado]:', '\n')
print('A leitura é a seguinte: quantas UF tenho dentro do DataFrame [UF_Agrupado]')
len(UF_Agrupado.groups)

Verificando a quantidade de grupos guardados na variável [UF_Agrupado]:

A leitura é a seguinte: quantas UF tenho dentro do DataFrame [UF_Agrupado]

27

In [377]:
print('Verificando a quantidade de elementos contidos em cada um dos grupos guardados na variável [UF_Agrupado],')
print('ordenados de forma DESCENDENTE:')
qtd_elementos_UF = UF_Agrupado.size()
qtd_elementos_UF.sort_values(ascending=False)

Verificando a quantidade de elementos contidos em cada um dos grupos guardados na variável [UF_Agrupado],
ordenados de forma DESCENDENTE:

UF
SP    35
BA    33
MG    28
MA    26
CE    26
PA    24
PI    18
PB    18
PR    17
PE    16
RS    16
RJ    15
GO    10
RN     9
AM     9
AP     6
SC     6
ES     4
TO     4
MT     4
SE     4
MS     3
RO     2
AL     2
DF     1
RR     1
AC     1
dtype: int64

In [384]:
print('Aplicando group by aos campos [UF] e [STATUS], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar')
print('o DataFrame ORIGINAL:', '\n')
UF_STATUS_Agrupado = cidades_digitais.groupby(['UF', 'STATUS'])

print('Verificando a quantidade de elementos contidos em cada um dos grupos guardados na variável [UF_STATUS_Agrupado],')
print('ordenados de forma DESCENDENTE:')
qtd_elementos_UF_STATUS = UF_STATUS_Agrupado.size()
qtd_elementos_UF_STATUS.sort_values(ascending=False)

Aplicando group by aos campos [UF] e [STATUS], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar
o DataFrame ORIGINAL:

Verificando a quantidade de elementos contidos em cada um dos grupos guardados na variável [UF_STATUS_Agrupado],
ordenados de forma DESCENDENTE:

UF  STATUS
SP  Sem Previsão    25
MG  Sem Previsão    25
MA  Sem Previsão    25
BA  Sem Previsão    24
PA  Sem Previsão    15
PE  Sem Previsão    15
PI  Sem Previsão    15
CE  Sem Previsão    15
RJ  Sem Previsão    12
CE  Concluída       11
RS  Sem Previsão    10
GO  Sem Previsão    10
PA  Concluída        9
PR  Sem Previsão     9
PB  Sem Previsão     9
BA  Concluída        9
SP  Concluída        8
RN  Sem Previsão     8
PR  Concluída        7
PB  Concluída        6
AM  Sem Previsão     6
SC  Sem Previsão     5
AP  Sem Previsão     5
ES  Sem Previsão     4
MT  Sem Previsão     4
TO  Sem Previsão     4
RS  Concluída        4
SE  Sem Previsão     4
PB  Em andamento     3
PI  Concluída        3
MS  Sem Previsão     3
AM  Concluída        3
AL  Sem Previsão     2
SP  Em andamento     2
RS  Em andamento     2
RO  Sem Previsão     2
RJ  Em andamento     2
MG  Concluída        2
RN  Concluída        1
PE  Concluída        1
DF  Concluída        1
RR  Sem Previsão     1
MA  Concluída        1
SC  Concluída        1
AP  Concluída        1
MG  Em andamento     1
RJ  Concluída        1
PR  Em andamento     1
AC  Sem Previsão     1
dtype: int64

In [400]:
print('Criando um índice para a coluna [STATUS]...', '\n')
STATUS_Indice = cidades_digitais.set_index(['STATUS'])

print('Aplicando group by pelo ÍNDICE = [STATUS], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar')
print('o DataFrame ORIGINAL.', '\n')
print('Mesmo conceito de PIVOT do B.I.')
STATUS_Agrupado = STATUS_Indice.groupby(level = 'STATUS')
STATUS_Agrupado.head()

Criando um índice para a coluna [STATUS]...

Aplicando group by pelo ÍNDICE = [STATUS], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar
o DataFrame ORIGINAL.

Mesmo conceito de PIVOT do B.I.

,UF,CIDADE,POPULAÇÃO,VALOR_TOTAL_PREVISTO,PONTOS_ATENDIDOS,VALOR_INVESTIDO
STATUS,,,,,,
Sem Previsão,AC,Tarauacá,38819,"484.547,53",8,0
Sem Previsão,AL,Delmiro Gouveia,51997,"1.169.381,70",43,0
Sem Previsão,AL,Estrela de Alagoas,18306,"527.206,83",39,0
Sem Previsão,AM,Autazes,37033,"1.171.151,92",51,0
Sem Previsão,AM,Benjamin Constant,39484,"844.586,48",12,0
Concluída,AM,Coari,83078,"814.954,75",27,0
Concluída,AM,Manacapuru,94175,"892.096,87",31,"763.009,30"
Concluída,AM,Manaquiri,28413,"636.682,15",21,0
Concluída,AP,Serra do Navio,4938,"590.073,15",21,"495.899,00"
Concluída,BA,Guanambi,85797,"533.416,18",15,"441.985,58"
Em andamento,MG,Nepomuceno,26897,"650.576,00",27,0
Em andamento,PB,Cabaceiras,5449,"355.867,86",15,0
Em andamento,PB,Esperança,32785,"643.482,51",23,0
Em andamento,PB,Itaporanga,24499,"649.011,44",23,0
Em andamento,PR,Bandeirantes,32639,"279.409,70",7,0

In [407]:
print('Criando um índice para as colunas [STATUS] e [UF]...', '\n')
STATUS_UF_Indice = cidades_digitais.set_index(['STATUS', 'UF'])
STATUS_UF_Indice.head(10)

Criando um índice para as colunas [STATUS] e [UF]...

                             CIDADE  POPULAÇÃO VALOR_TOTAL_PREVISTO  \
STATUS       UF
Sem Previsão AC            Tarauacá      38819           484.547,53
             AL     Delmiro Gouveia      51997         1.169.381,70
             AL  Estrela de Alagoas      18306           527.206,83
             AM             Autazes      37033         1.171.151,92
             AM   Benjamin Constant      39484           844.586,48
             AM             Careiro      36435           748.797,08
Concluída    AM               Coari      83078           814.954,75
Sem Previsão AM             Codajás      26777           757.706,74
             AM            Iranduba      45984           800.655,02
Concluída    AM          Manacapuru      94175           892.096,87

                 PONTOS_ATENDIDOS VALOR_INVESTIDO
STATUS       UF
Sem Previsão AC                 8               0
             AL                43               0
             AL                39               0
             AM                51               0
             AM                12               0
             AM                17               0
Concluída    AM                27               0
Sem Previsão AM                36               0
             AM                30               0
Concluída    AM                31      763.009,30

In [419]:
print('Criando um índice para as colunas [UF] e [STATUS]...', '\n')
STATUS_UF_Indice1 = cidades_digitais.set_index(['UF', 'STATUS'])

print('Aplicando group by pelos ÍNDICES = [UF] e [STATUS], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar')
print('o DataFrame ORIGINAL.', '\n')
print('Mesmo conceito de PIVOT do B.I.')
STATUS_UF_Agrupado1 = STATUS_UF_Indice1.groupby(level = ['UF', 'STATUS'])

print('Somando os valores (função SUM do Pandas), agrupando pelo [UF] e [STATUS]...')
STATUS_UF_Agrupado1.sum()

Criando um índice para as colunas [UF] e [STATUS]...

Aplicando group by pelos ÍNDICES = [UF] e [STATUS], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar
o DataFrame ORIGINAL.

Mesmo conceito de PIVOT do B.I.
Somando os valores (função SUM do Pandas), agrupando pelo [UF] e [STATUS]...

                 POPULAÇÃO  PONTOS_ATENDIDOS
UF STATUS
AC Sem Previsão      38819                 8
AL Sem Previsão      70303                82
AM Concluída        205666                79
   Sem Previsão     204136               167
AP Concluída          4938                21
   Sem Previsão     107938                81
BA Concluída       1171174               155
   Sem Previsão     532445               559
CE Concluída        658927               218
   Sem Previsão     427514               370
DF Concluída         32148                15
ES Sem Previsão     122164                94
GO Sem Previsão     166045               168
MA Concluída        174267                13
   Sem Previsão     571514               566
MG Concluída         18579                16
   Em andamento      26897                27
   Sem Previsão     465789               533
MS Sem Previsão     118431                94
MT Sem Previsão      77241                97
PA Concluída        620301               189
   Sem Previsão     470578               435
PB Concluída        127879                95
   Em andamento      62733                61
   Sem Previsão     111071               185
PE Concluída         37317                14
   Sem Previsão     342519               297
PI Concluída         37987                45
   Sem Previsão     187556               213
PR Concluída        418078               134
   Em andamento      32639                 7
   Sem Previsão     284252               247
RJ Concluída         13626                11
   Em andamento     167465                35
   Sem Previsão     413049               312
RN Concluída          6218                13
   Sem Previsão      77814               145
RO Sem Previsão      84470                39
RR Sem Previsão      27288                21
RS Concluída        107356                73
   Em andamento      40954                30
   Sem Previsão     300041               265
SC Concluída         29008                18
   Sem Previsão     187416                90
SE Sem Previsão     187455               107
SP Concluída        235299               173
   Em andamento      62857                37
   Sem Previsão     898779               810
TO Sem Previsão     117504               139

In [421]:
print('Somando os valores (função SUM do Numpy), agrupando pelo [UF] e [STATUS]...')
STATUS_UF_Agrupado1.aggregate(np.sum)

Somando os valores (função SUM do Numpy), agrupando pelo [UF] e [STATUS]...

                 POPULAÇÃO  PONTOS_ATENDIDOS
UF STATUS
AC Sem Previsão      38819                 8
AL Sem Previsão      70303                82
AM Concluída        205666                79
   Sem Previsão     204136               167
AP Concluída          4938                21
   Sem Previsão     107938                81
BA Concluída       1171174               155
   Sem Previsão     532445               559
CE Concluída        658927               218
   Sem Previsão     427514               370
DF Concluída         32148                15
ES Sem Previsão     122164                94
GO Sem Previsão     166045               168
MA Concluída        174267                13
   Sem Previsão     571514               566
MG Concluída         18579                16
   Em andamento      26897                27
   Sem Previsão     465789               533
MS Sem Previsão     118431                94
MT Sem Previsão      77241                97
PA Concluída        620301               189
   Sem Previsão     470578               435
PB Concluída        127879                95
   Em andamento      62733                61
   Sem Previsão     111071               185
PE Concluída         37317                14
   Sem Previsão     342519               297
PI Concluída         37987                45
   Sem Previsão     187556               213
PR Concluída        418078               134
   Em andamento      32639                 7
   Sem Previsão     284252               247
RJ Concluída         13626                11
   Em andamento     167465                35
   Sem Previsão     413049               312
RN Concluída          6218                13
   Sem Previsão      77814               145
RO Sem Previsão      84470                39
RR Sem Previsão      27288                21
RS Concluída        107356                73
   Em andamento      40954                30
   Sem Previsão     300041               265
SC Concluída         29008                18
   Sem Previsão     187416                90
SE Sem Previsão     187455               107
SP Concluída        235299               173
   Em andamento      62857                37
   Sem Previsão     898779               810
TO Sem Previsão     117504               139

In [424]:
print('Somando os valores (função SUM do Numpy), agrupando pelo [UF] e [STATUS]...')
STATUS_UF_Agrupado1.aggregate([np.sum, np.mean, np.size])

Somando os valores (função SUM do Numpy), agrupando pelo [UF] e [STATUS]...

                POPULAÇÃO                     PONTOS_ATENDIDOS
                      sum           mean size              sum       mean size
UF STATUS
AC Sem Previsão     38819   38819.000000    1                8   8.000000    1
AL Sem Previsão     70303   35151.500000    2               82  41.000000    2
AM Concluída       205666   68555.333333    3               79  26.333333    3
   Sem Previsão    204136   34022.666667    6              167  27.833333    6
AP Concluída         4938    4938.000000    1               21  21.000000    1
   Sem Previsão    107938   21587.600000    5               81  16.200000    5
BA Concluída      1171174  130130.444444    9              155  17.222222    9
   Sem Previsão    532445   22185.208333   24              559  23.291667   24
CE Concluída       658927   59902.454545   11              218  19.818182   11
   Sem Previsão    427514   28500.933333   15              370  24.666667   15
DF Concluída        32148   32148.000000    1               15  15.000000    1
ES Sem Previsão    122164   30541.000000    4               94  23.500000    4
GO Sem Previsão    166045   16604.500000   10              168  16.800000   10
MA Concluída       174267  174267.000000    1               13  13.000000    1
   Sem Previsão    571514   22860.560000   25              566  22.640000   25
MG Concluída        18579    9289.500000    2               16   8.000000    2
   Em andamento     26897   26897.000000    1               27  27.000000    1
   Sem Previsão    465789   18631.560000   25              533  21.320000   25
MS Sem Previsão    118431   39477.000000    3               94  31.333333    3
MT Sem Previsão     77241   19310.250000    4               97  24.250000    4
PA Concluída       620301   68922.333333    9              189  21.000000    9
   Sem Previsão    470578   31371.866667   15              435  29.000000   15
PB Concluída       127879   21313.166667    6               95  15.833333    6
   Em andamento     62733   20911.000000    3               61  20.333333    3
   Sem Previsão    111071   12341.222222    9              185  20.555556    9
PE Concluída        37317   37317.000000    1               14  14.000000    1
   Sem Previsão    342519   22834.600000   15              297  19.800000   15
PI Concluída        37987   12662.333333    3               45  15.000000    3
   Sem Previsão    187556   12503.733333   15              213  14.200000   15
PR Concluída       418078   59725.428571    7              134  19.142857    7
   Em andamento     32639   32639.000000    1                7   7.000000    1
   Sem Previsão    284252   31583.555556    9              247  27.444444    9
RJ Concluída        13626   13626.000000    1               11  11.000000    1
   Em andamento    167465   83732.500000    2               35  17.500000    2
   Sem Previsão    413049   34420.750000   12              312  26.000000   12
RN Concluída         6218    6218.000000    1               13  13.000000    1
   Sem Previsão     77814    9726.750000    8              145  18.125000    8
RO Sem Previsão     84470   42235.000000    2               39  19.500000    2
RR Sem Previsão     27288   27288.000000    1               21  21.000000    1
RS Concluída       107356   26839.000000    4               73  18.250000    4
   Em andamento     40954   20477.000000    2               30  15.000000    2
   Sem Previsão    300041   30004.100000   10              265  26.500000   10
SC Concluída        29008   29008.000000    1               18  18.000000    1
   Sem Previsão    187416   37483.200000    5               90  18.000000    5
SE Sem Previsão    187455   46863.750000    4              107  26.750000    4
SP Concluída       235299   29412.375000    8              173  21.625000    8
   Em andamento     62857   31428.500000    2               37  18.500000    2
   Sem Previsão    898779   35951.160000   25              810  32.400000   25
TO Sem Previsão    117504   29376.000000    4              139  34.750000    4

In [426]:
print('Criando índice para as colunas [STATUS, CIDADE, VALOR_TOTAL_PREVISTO, VALOR_INVESTIDO, POPULAÇÃO, PONTOS_ATENDIDOS]...', '\n')
GERAL_Indice1 = cidades_digitais.set_index(['STATUS', 'CIDADE', 'VALOR_TOTAL_PREVISTO', 'VALOR_INVESTIDO', 'POPULAÇÃO', 'PONTOS_ATENDIDOS'])

print('Aplicando group by pelos ÍNDICES = [STATUS, VALOR_TOTAL_PREVISTO, VALOR_INVESTIDO], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar')
print('o DataFrame ORIGINAL.', '\n')
print('Mesmo conceito de PIVOT do B.I.')
GERAL_Agrupado1 = GERAL_Indice1.groupby(level = ['STATUS', 'VALOR_TOTAL_PREVISTO', 'VALOR_INVESTIDO'])

cidades_digitais.head(5)

Criando índice para as colunas [STATUS, CIDADE, VALOR_TOTAL_PREVISTO, VALOR_INVESTIDO, POPULAÇÃO, PONTOS_ATENDIDOS]...

Aplicando group by pelos ÍNDICES = [STATUS, VALOR_TOTAL_PREVISTO, VALOR_INVESTIDO], colocando o resultado em outra variável (BOA PRÁTICA). Evita-se alterar
o DataFrame ORIGINAL.

Mesmo conceito de PIVOT do B.I.

,UF,CIDADE,POPULAÇÃO,VALOR_TOTAL_PREVISTO,STATUS,PONTOS_ATENDIDOS,VALOR_INVESTIDO
0,AC,Tarauacá,38819,"484.547,53",Sem Previsão,8,0
1,AL,Delmiro Gouveia,51997,"1.169.381,70",Sem Previsão,43,0
2,AL,Estrela de Alagoas,18306,"527.206,83",Sem Previsão,39,0
3,AM,Autazes,37033,"1.171.151,92",Sem Previsão,51,0
4,AM,Benjamin Constant,39484,"844.586,48",Sem Previsão,12,0

In [428]:
print('Somando os valores (função SUM do Pandas), usando o agrupamento de índices')
print('[STATUS, VALOR_TOTAL_PREVISTO, VALOR_INVESTIDO]...')

GERAL_Agrupado1.sum()

Somando os valores (função SUM do Pandas), usando o agrupamento de índices
[STATUS, VALOR_TOTAL_PREVISTO, VALOR_INVESTIDO]...

                                                   UF
STATUS       VALOR_TOTAL_PREVISTO VALOR_INVESTIDO
Concluída    1.023.839,75         836.808,10       PA
             1.024.440,40         958.295,60       RS
             234.752,50           189.134,16       RS
                                  621.943,90       CE
             266.802,12           206.113,40       PB
             270.085,77           204.232,98       PR
             285.842,80           240.879,90       MG
             290.426,96           288.464,55       MG
             324.598,35           0                PI
             330.262,76           268.250,96       BA
             335.161,32           260.844,47       SP
             352.575,00           0                RJ
             411.047,68           139.501,10       RN
             414.096,87           370.584,00       CE
             419.387,54           364.650,70       PB
             421.957,11           397.718,72       DF
             424.830,85           130.558,10       PA
             428.579,50           377.463,70       PB
             433.787,98           377.520,78       BA
             438.445,29           354.671,92       SP
             451.846,00           431.175,00       CE
             464.730,35           422.459,60       RS
             465.564,00           378.125,50       CE
             466.649,65           393.175,34       PR
             467.642,09           404.337,86       BA
             485.264,10           410.386,30       PE
             499.010,00           0                PI
             509.908,95           191.140,00       PR
             521.961,00           487.065,00       CE
             522.826,11           242.272,00       PA
...                                                ..
Sem Previsão 864.957,78           0                SP
             866.711,44           0                MG
             871.581,16           0                MA
             876.496,87           79.990,00        GO
             876.774,62           0                PR
             880.570,72           0                RS
             884.532,58           0                MG
             885.670,15           0                GO
             896.578,06           0                AP
             900.614,38           0                MA
             906.494,09           0                GO
             907.385,17           83.271,50        SE
             907.753,83           0                RJ
             910.778,44           75.213,50        PE
             911.062,16           0                PA
             916.825,30           0                PR
             918.477,20           0                PA
             918.552,72           0                PA
             918.594,72           75.012,00        MA
             920.152,72           0                PA
             928.283,68           0                MA
             932.719,89           93.271,99        CE
             935.119,68           0                SP
             935.412,72           0                MA
             944.073,64           0                PA
             945.054,68           78.965,00        PI
             945.609,08           0                MA
             978.516,72           0                SP
             982.422,53           0                CE
             998.180,59           0                ES

[333 rows x 1 columns]